:root {
    background-color: #181a1b;
    color: white;
}

#grid-container {
    width: 100%;
    justify-content: center;
    display: grid;
    margin: 20px auto;
    gap: 5px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-cell {
    border: 2.5px solid;
    box-sizing: border-box;
    border-radius: 7.5px;
}

.color-0 { background-color: #eeeeee; border-color: #cccccc;}
.color-1 { background-color: #000000; border-color: #333333; }
.color-2 { background-color: #0044ff; border-color: #1500ff;}
.color-3 { background-color: #e70000; border-color: #d10000;}
