#grid-container {
    display: grid;
    margin: 20px auto;
}

.grid-cell {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.color-0 { background-color: white; }
.color-1 { background-color: black; }
.color-2 { background-color: blue; }
.color-3 { background-color: red; }
