#grid-container {
    width: 100%;
    justify-content: center;
    display: grid;
    margin: 20px auto;
    gap: 5px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-cell {
    border: 2.5px solid;
    box-sizing: border-box;
    border-radius: 7.5px;
}

.color-0 { background-color: white; border-color: gainsboro;}
.color-1 { background-color: black; border-color: #111111; }
.color-2 { background-color: blue; border-color: #0000aa;}
.color-3 { background-color: red; border-color: #aa0000;}
