GridPane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;

    -fx-border-width: 0.5;
    -fx-border-radius: 4.5;
    -fx-background-radius: 4.5;
}

#card-red {
    -fx-background-color: #b50000;
    -fx-border-color: #b70000;
}

#card-light-red {
    -fx-background-color: #ff0000;
    -fx-border-color: #ff0000;
}

#card-blue {
    -fx-background-color: #0000FF;
    -fx-border-color: #0e00a4;
}

#card-light-blue {
    -fx-background-color: #00FFFF;
    -fx-border-color: #00FFFF;
}

#card-white {
    -fx-background-color: #a7a7a7;
    -fx-border-color: #5f5f5f;
}

#card-light-white {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

#card-black {
    -fx-background-color: #000000;
    -fx-border-color: #2e2e2e;
}

#card-light-black {
    -fx-background-color: #4d4d4d;
    -fx-border-color: #4d4d4d;
}