#card-red, #card-blue, #card-white, #card-black, #card-light-red, #card-light-blue, #card-light-white, #card-light-black {
    -fx-background-color: #555555;
    -fx-border-color: #444444;

    -fx-border-width: 0.5;
    -fx-border-radius: 4.5;
    -fx-background-radius: 4.5;
}

#card-red {
    -fx-background-color: #e70000;
    -fx-border-color: #d10000;
}

#card-light-red {
    -fx-background-color: #800000;
    -fx-border-color: #600000;
}

#card-blue {
    -fx-background-color: #0044ff;
    -fx-border-color: #1500ff;
}

#card-light-blue {
    -fx-background-color: #0f00b1;
    -fx-border-color: #0c0092;
}

#card-white {
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
}

#card-light-white {
    -fx-background-color: #bbbbbb;
    -fx-border-color: #999999;
}

#card-black {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}

#card-light-black {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
}