* {
    -fx-text-fill: white;
}

BorderPane {
    -fx-background-color: #181a1b;
}

Button {
    -fx-background-color: radial-gradient(center 100% 10%, radius 150%, #ff5858, #493cff);
    -fx-text-fill: black;
    -fx-font-size: 1.35em;

    -fx-padding: 5px 10px;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;

    -fx-cursor: hand;
    -fx-border: none; 
}

Button:hover {
    -fx-background-color: radial-gradient(center 100% 10%, radius 150%, #ff2727, #2f20ff);
}