Pane {
    -fx-background-color: #555555;
    -fx-border-color: #444444;

    -fx-border-width: 0.5;
    -fx-border-radius: 4.5;
    -fx-background-radius: 4.5;
}

#card-red {
    -fx-background-color: #e70000;
    -fx-border-color: #d10000;
}

#card-blue {
    -fx-background-color: #0044ff;
    -fx-border-color: #1500ff;
}

#card-white {
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
}

#card-black {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}

