GridPane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
    
    -fx-border-width: 1.5;
    -fx-border-radius: 6.5;
    -fx-background-radius: 6.5;
}

#gameCard-red {
    -fx-background-color: #ff0000;
    -fx-border-color: #990000;
}

#gameCard-blue {
    -fx-background-color: #0000FF;
    -fx-border-color: #0e00a4;
}

#gameCard-white {
    -fx-background-color: #a7a7a7;
    -fx-border-color: #5f5f5f;
}

#gameCard-black {
    -fx-background-color: #000000;
    -fx-border-color: #2e2e2e;
}