GridPane {
    -fx-background-color: #555555;
    -fx-border-color: #444444;
    
    -fx-border-width: 1.5;
    -fx-border-radius: 6.5;
    -fx-background-radius: 6.5;
}

#gameCard-red {
    -fx-background-color: #e70000;
    -fx-border-color: #d10000;
}
#gameCard-red-light {
    -fx-background-color: #800000;
    -fx-border-color: #600000;
}

#gameCard-blue {
    -fx-background-color: #0044ff;
    -fx-border-color: #1500ff;
}
#gameCard-blue-light {
    -fx-background-color: #0f00b1;
    -fx-border-color: #0c0092;
}

#gameCard-white {
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
    -fx-text-fill: black;
}
#gameCard-white-light {
    -fx-background-color: #bbbbbb;
    -fx-border-color: #999999;
    -fx-text-fill: black;
}

#gameCard-black {
    -fx-background-color: #000000;
    -fx-border-color: #333333;
}
#gameCard-black-light {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
}